@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>LIST</title>
    <!-- <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Andika&display=swap" rel="stylesheet"> -->
    <script src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>  
    <script>
      const MinMax = {
        min: "",
        max: ""
      };
    </script>
  </head>
  <body>
    <section id="app"></section>
  </body>
  <link rel="stylesheet" href="@Url.Content("~/dist/bundle.css")" />
  <script src="@Url.Content("~/dist/bundle.js")"></script>  
  <script src="@Url.Content("~/dist/scripts/newYear.js")"></script>    
</html>
